.empty-form {
  height: 100%;
}

@media screen and (max-width: 2560px) {
  .bgi {
    background-image: url("./assets/images/404-QHD.webp");
  }
}
@media screen and (min-width: 2560px){
  .bgi {
    background-image: url("./assets/images/404-5k.webp");
  }
}
.bgi {
  background-image: url("./assets/images/404-QHD.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(5px);
}

.bgi-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.85); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo {
  display: flex; flex-direction: row;
  gap: 1rem;
}
