<div *ngIf="form">
  <div *ngIf="submitting" class="block-wall">
    <div class="bgi-text">
      <div class="logo">
        <biit-icon name="biit_icon" style="display: block; width: 2.5rem;" />
        <biit-icon name="biit_logo" style="display: block; width: 5rem;" />
      </div>
      <div style="gap: 2rem">
        <h1>Please wait...</h1>
        <h2>We're submitting your data and this could take a few seconds.</h2>
        <biit-progress-bar [type]="biitProgressBarType.INDETERMINATE"></biit-progress-bar>
      </div>
    </div>
  </div>
  <biit-x-form [form]="form"
               [submitted]="submitted"
               (completed)="onCompleted($event)"
               (closed)="submitted = false"
  ></biit-x-form>
</div>
<div *ngIf="!form" class="empty-form">
  <div class="bgi"></div>
  <div class="bgi-text">
    <div class="logo">
      <biit-icon name="biit_icon" style="display: block; width: 2.5rem;" />
      <biit-icon name="biit_logo" style="display: block; width: 5rem;" />
    </div>
    <div *ngIf="loading" style="gap: 2rem">
      <h1>Please wait...</h1>
      <h2>We're fetching your data and this could take a few seconds.</h2>
      <biit-progress-bar [type]="biitProgressBarType.INDETERMINATE"></biit-progress-bar>
    </div>
    <div *ngIf="!loading" style="gap: 2rem">
      <h1>Error retrieving data</h1>
      <h2>Unfortunately, we can not display the content of your request, right now.</h2>
      <p>If the issue persists, please contact support to sort out. </p>
    </div>
  </div>
</div>
