<div *ngIf="form">
  <biit-x-form [form]="form"
               [submitted]="submitted"
               (completed)="onCompleted($event)"
               (closed)="submitted = false"
  ></biit-x-form>
</div>
<div *ngIf="!form" class="empty-form">
  <div class="bgi"></div>
  <div class="bgi-text">
    <div class="logo">
      <biit-icon name="biit_icon" style="display: block; width: 2.5rem;" />
      <biit-icon name="biit_logo" style="display: block; width: 5rem;" />
    </div>
    <div *ngIf="loading" style="gap: 2rem">
      <h1>Bibbidi-bobbidi-boo!</h1>
      <h2>We're bringing your wishes to you.</h2>
      <biit-progress-bar [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>
    </div>
    <div *ngIf="!loading" style="gap: 2rem">
      <h1>Bibbidi-bobbidi-D'Oh!</h1>
      <h2>We made some wrong spell and your form disappeared!</h2>
      <p>Please, send an owl to one of our sourcerers and we'll try to fix our mess</p>
    </div>
  </div>
</div>
