<biit-progress-bar *ngIf="waiting" [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>
<biit-login *ngIf="!waiting"
            (onLogin)="login($event)"
            (onResetPassword)="onResetPassword($event)"
            (onSignUp)="onSignUp($event)"
            [teams]="teams"
            [allowSignUp]="!!Environment.SIGNUP_ALLOW"
            [signUpGeneratedPassword]="!!Environment.SIGNUP_HIDE_PASSWORD"
            [signUpGeneratedUsername]="!!Environment.SIGNUP_HIDE_USERNAME"
            [biitLoginServiceSupport]="this"
            [notificationTitle]="Environment.LOGIN_NOTIFICATION_TITLE"
            [notification]="Environment.LOGIN_NOTIFICATION"
/>

